@import 'styles/_variables.scss';

.goodsBlock {
  padding: 40px 113px;
}

.label {
  h3 {
    color: $text-color;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
  }
}

.goodsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
