@import 'variables';

@mixin for-phone-only {
  @media (max-width: 420px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin for-tablet-up {
  @media (max-width: 820px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (max-width: 920px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
