@import 'mixins';

.container {
  margin: 0 auto;
  max-width: 1280px;
  height: 100%;
  padding: 0;
  text-align: center;

  @include for-desktop-up {
    width: 100%;
  }

  @include for-tablet-landscape-up {
    padding-right: 40px;
    padding-left: 40px;
  }

  @include for-tablet-portrait-up {
    padding-right: 20px;
    padding-left: 20px;
  }

  @include for-phone-only {
    padding-right: 25px;
    padding-left: 25px;
  }
}

.error {
  color: #de4000;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-self: center;
}
